.border {
  box-sizing: border-box;
  border: 1px solid black;
}

.border div {
  border: 1px solid black;
  box-sizing: border-box;
}

#game-area #main-board {
  padding: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  margin: 4em auto;
  width: 80vh;
  height: 80vh;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.5);
  color: rgba(0, 0, 0, 0.95);
  font-size: 0.5em;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  float: left;
  margin-left: 5em;
}

#game-area #main-board #top {
  width: 100%;
  height: 13%;
}

#game-area #main-board #middle {
  width: 100%;
  height: 74%;
}

#game-area #main-board #bottom {
  width: 100%;
  height: 13%;
}

#game-area #main-board .float > div {
  float: left;
}

#game-area #main-board .corner {
  width: 13%;
  height: 100%;
}

#game-area #main-board .h_container {
  width: 74%;
  height: 100%;
}

#game-area #main-board .v_container {
  width: 13%;
  height: 100%;
}

#game-area #main-board #top_middle_container > div, #game-area #main-board #bottom_middle_container > div {
  width: 11.11111%;
  height: 100%;
}

#game-area #main-board #middle_right_container > div, #game-area #main-board #middle_left_container > div {
  width: 100%;
  height: 11.11111%;
}

#game-area #main-board .middle {
  width: 74%;
  height: 100%;
  background: url(../images/middle.jpg);
  background-size: contain;
  background-height: 100%;
}

#game-area #pane #detail-pane {
  width: 23.33vh;
  height: 35vh;
}

#game-area .player {
  position: relative;
  margin: 0 auto 1px auto;
  background: red;
  width: 21px;
  height: 21px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
}

#game-area .cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 0.8em;
  overflow: visible;
  border-left: 1px solid #565656;
  border-bottom: 1px solid #565656;
}

#middle_left_container .cell {
  border-right: 1px solid #565656;
}

#bottom_middle_container .cell {
  border-top: 1px solid #565656;
}
