#game-area #pane {
  float: left;
  margin-left: 2.55em;
  position: relative;
  margin-top: 2.35em;
  background: #ffffff;
  border: 1px solid #000000;
  padding: 0.85em;
  -webkit-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.5);
}

#game-area #pane #name {
  background-color: red;
  padding: 0.5em;
  text-align: center;
  color: #ffffff;
  border: 1px solid #000000;
}

#property-banner {
  padding: 0.5em;
  border-bottom: 1px solid #000000;
  color: #000000;
  text-align: center;
}

#detail-pane {
  border: 1px solid #000000;
  overflow: scroll;
  font-size: 0.85em;
}

#property-estate, #property-owner, #property-price, #property-rent, #property-build {
  box-sizing: border-box;
  padding: 0.5em;
}

#property-price, #property-rent {
  display: block;
  width: 100%;
}

#action {
  height: 100%;
}

#action-banner {
  height: 100%;
  text-align: center;
  line-height: 17em;
}

#property-controls {
  background: rgba(39, 39, 39, 0.95);
  padding: 1.1em;
  box-sizing: border-box;
  padding-bottom: 0em;
}

#property-controls button {
  background-color: #e75a56;
  width: 100%;
  height: 1.5em;
  font-size: 1.45em;
  border: 1px solid #b73531;
  box-shadow: 0 3px 0 0 #bd4846;
  text-shadow: 0 1px 1px #000000;
  color: #ffffff;
  border-radius: 0.1em;
  font-weight: 100;
  -webkit-appearance: none;
  cursor: pointer;
  margin-bottom: 1em;
}

@media and (-webkit-min-device-pixel-ratio:0) {
  #detail-pane::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    #detail-pane::-webkit-scrollbar {
      display: none;
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
  #detail-pane::-webkit-scrollbar {-chrome-:only(;
     display: none;
  );}
}
