/* Fallback background colors/card colors */

#cell-1, #cell-3, .cell-1, .cell-3 {background-color: #784D3C;}
#cell-6, #cell-8, #cell-9, .cell-6, .cell-8, .cell-9 {background-color: #BADBEE;}
#cell-11, #cell-13, #cell-14, .cell-11, .cell-13, .cell-14 {background-color: #AA3B80;}
#cell-16, #cell-18, #cell-19, .cell-16, .cell-18, .cell-19 {background-color: #D58A37;}
#cell-21, #cell-23, #cell-24, .cell-21, .cell-23, .cell-24 {background-color: #BB292C;}
#cell-26, #cell-27, #cell-29, .cell-26, .cell-27, .cell-29 {background-color: #FFF138;}
#cell-31, #cell-32, #cell-34, .cell-31, .cell-32, .cell-34 {background-color: #5FA55D;}
#cell-37, #cell-39, .cell-37, .cell-39 {background-color: #2C67A1; }
#cell-5, #cell-15, #cell-25, #cell-35, .cell-5, .cell-15, .cell-25, .cell-35 {background-color: #E1E1E1;}
#cell-2, #cell-4, #cell-7, #cell-12, #cell-17, #cell-22, #cell-28, #cell-33, #cell-36, #cell-38, .cell-2, .cell-4, .cell-7, .cell-12, .cell-17, .cell-22, .cell-28, .cell-33, .cell-36, .cell-38 {background-color: #CCE6CF;}
#cell-0, .cell-0 {background-color: #ACE4FF;}
#cell-10, .cell-10 {background-color: #D58B36;}
#cell-20, .cell-20 {background-color: #FF4343;}
#cell-30, .cell-30 {background-color: #6890FF;}

/* Hide span text */

.cell span {
  display: none;
}

/* CSS for Images in Property Cells */

#cell-0 {
  background: url(../images/cell0.jpg);
  background-size: cover;
}

#cell-1 {
  background: url(../images/cell1.jpg);
  background-size: cover;
}

#cell-3 {
  background: url(../images/cell3.jpg);
  background-size: cover;
}

#cell-4 {
  background: url(../images/cell4.jpg);
  background-size: cover;
}

#cell-5 {
  background: url(../images/cell5.jpg);
  background-size: cover;
}

#cell-6 {
  background: url(../images/cell6.jpg);
  background-size: cover;
}

#cell-8 {
  background: url(../images/cell8.jpg);
  background-size: cover;
}

#cell-9 {
  background: url(../images/cell9.jpg);
  background-size: cover;
}

#cell-10 {
  background: url(../images/cell10.jpg);
  background-size: cover;
}

#cell-11 {
  background: url(../images/cell11.jpg);
  background-size: cover;
}

#cell-12 {
  background: url(../images/cell12.jpg);
  background-size: cover;
}

#cell-13 {
  background: url(../images/cell13.jpg);
  background-size: cover;
}

#cell-14 {
  background: url(../images/cell14.jpg);
  background-size: cover;
}

#cell-15 {
  background: url(../images/cell15.jpg);
  background-size: cover;
}

#cell-16 {
  background: url(../images/cell16.jpg);
  background-size: cover;
}

#cell-18 {
  background: url(../images/cell18.jpg);
  background-size: cover;
}

#cell-19 {
  background: url(../images/cell19.jpg);
  background-size: cover;
}

#cell-20 {
  background: url(../images/cell20.jpg);
  background-size: cover;
}

#cell-21 {
  background: url(../images/cell21.jpg);
  background-size: cover;
}

#cell-23 {
  background: url(../images/cell23.jpg);
  background-size: cover;
}

#cell-24 {
  background: url(../images/cell24.jpg);
  background-size: cover;
}

#cell-25 {
  background: url(../images/cell25.jpg);
  background-size: cover;
}

#cell-26 {
  background: url(../images/cell26.jpg);
  background-size: cover;
}

#cell-27 {
  background: url(../images/cell27.jpg);
  background-size: cover;
}

#cell-28 {
  background: url(../images/cell28.jpg);
  background-size: cover;
}

#cell-29 {
  background: url(../images/cell29.jpg);
  background-size: cover;
}

#cell-30 {
  background: url(../images/cell30.jpg);
  background-size: cover;
}

#cell-31 {
  background: url(../images/cell31.jpg);
  background-size: cover;
}

#cell-32 {
  background: url(../images/cell32.jpg);
  background-size: cover;
}

#cell-34 {
  background: url(../images/cell34.jpg);
  background-size: cover;
}

#cell-35 {
  background: url(../images/cell35.jpg);
  background-size: cover;
}

#cell-37 {
  background: url(../images/cell37.jpg);
  background-size: cover;
}

#cell-38 {
  background: url(../images/cell38.jpg);
  background-size: cover;
}

#cell-39 {
  background: url(../images/cell39.jpg);
  background-size: cover;
}

/* CSS for images in Chance/Community Chest Cells */

#cell-7, #cell-22 {
  background: url(../images/chancehor.jpg);
  background-size: cover;
}

#cell-36 {
  background: url(../images/chancevert.jpg);
  background-size: cover;
}

#cell-2 {
  background: url(../images/chesthor.jpg);
  background-size: cover;
}

#cell-17, #cell-33 {
  background: url(../images/chestvert.jpg);
  background-size: cover;
}
