#control-pane {
  position: fixed;
  height: 5em;
  width: 43.75em;
  background-color: rgba(39,39,39, 0.95);
  bottom: 1em;
  border-radius: 3px;
  border: 1px solid #3C3C3C;
  left: 3.3em;
}

#control-pane button {
  background-color: #e75a56;
  width: 10em;
  height: 2.2em;
  font-size: 1.45em;
  border: 1px solid #b73531;
  box-shadow: 0 3px 0 0 #bd4846;
  text-shadow: 0 1px 1px #000000;
  color: #ffffff;
  border-radius: 0.1em;
  font-weight: 100;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0.5em 0em 0.5em 0.6em;
}

#control-pane #prompt-buy {
  border: 0;
  width: 31em;
  position: fixed;
}

#money {
  position: relative;
  background-color: rgba(86, 86, 86, 0.99);
  width: 5.85em;
  height: 100%;
  float: right;
  text-align: center;
  line-height: 2.4em;
  color: #ffffff;
  font-size: 2em;
  font-weight: 100;
}

#inventory {
  width: 22em;
  height: calc(100% - 25em - 1.1em);
  background: #ffffff;
  position: absolute;
  float: left;
  box-sizing: border-box;
  overflow: scroll;
  top: 25em;
  left: 50.1em;
  padding: 1em;
  border: 1px solid #000000;
  background-color: rgba(39,39,39, 0.95);
  color: #ffffff;
}

#inventory h1 {
  font-size: 1.4em;
  font-weight: 100;
  text-align: center;
}

#inventory hr {
  margin-top: 0.5em;
  border: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

@media and (-webkit-min-device-pixel-ratio:0) {
  #control-pane {
    left: 2.5em;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    #control-pane {
      left: 2.5em;
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
  #control-pane {-chrome-:only(;
     left: 2.5em;
  );}
}
