#control-pane {
  position: fixed;
  height: 4.25em;
  width: 80vh;
  background-color: rgba(39,39,39, 0.95);
  bottom: 1em;
  border-radius: 3px;
  border: 1px solid #3C3C3C;
  left: 2.75em;
}

#control-pane button {
  background-color: #e75a56;
  width: 26.2vh;
  height: 2.3em;
  font-size: 1.23em;
  border: 1px solid #b73531;
  box-shadow: 0 3px 0 0 #bd4846;
  text-shadow: 0 1px 1px #000000;
  color: #ffffff;
  border-radius: 0.1em;
  font-weight: 100;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0.5em 0em 0.5em 0.6em;
}

#control-pane #prompt-buy {
  border: 0;
  width: 31em;
  position: fixed;
}

#money {
  position: relative;
  background-color: rgba(86, 86, 86, 0.99);
  width: 21vh;
  height: 100%;
  float: right;
  text-align: center;
  line-height: 2.4em;
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 100;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#inventory {
  width: 40vh;
  height: calc(100vh - 35vh - 7em);
  background: #ffffff;
  position: absolute;
  float: left;
  box-sizing: border-box;
  overflow: scroll;
  top: calc(3em + 35vh + 3em);
  left: calc(80vh + 3.3em + 2em);
  padding: 0.85em;
  border: 1px solid #000000;
  background-color: rgba(39, 39, 39, 0.95);
  color: #ffffff;
}

#inventory h1 {
  font-size: 1.19em;
  font-weight: 100;
  text-align: center;
}

#inventory hr {
  margin-top: 0.425em;
  border: 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.owned {
  width: 100%;
  height: 4.5em;
  color: #ffffff;
  box-sizing: border-box;
  padding: 0.5em 0em 0.5em 0em;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  font-size: 0.9em
}

.square {
  width: 3.5em;
  height: 3.5em;
  float: left;
  line-height: 3.5em;
  text-align: center;
  font-size: 1em;
  text-shadow: 2px 2px 10px #000000;
}

.placename {
  font-size: 1.4em;
  font-weight: 100;
  margin-left: 3.1em;
  line-height: 2.3em;
  width: 200px;
  white-space: nowrap;
}

#inventory #free-card {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  padding: 0.5em 0em 0.5em 0em;
  line-height: 2.3em;
  font-size: 1.2em;
  font-weight: 100;
}

@media and (-webkit-min-device-pixel-ratio:0) {
  #control-pane {
    left: 3.3em;
  }

  /*#prompt-buy {
    width: 32em !important;
  }*/

  #inventory {
    left: calc(80vh + 4em + 2em);
    height: calc(100vh - 35vh - 8em);
  }

  #inventory::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    #control-pane {
      left: 3.3em;
    }

    /*#prompt-buy {
      width: 32em !important;
    }*/

    #inventory {
      left: calc(80vh + 4em + 2em);
      height: calc(100vh - 35vh - 8em);
    }

    #inventory::-webkit-scrollbar {
      display: none;
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
  #control-pane {-chrome-:only(;
     left: 3.3em;
  );}

  /*#prompt-buy {-chrome-:only(;
     width: 32em !important;
  );}*/

  #inventory {-chrome-:only(;
    left: calc(80vh + 4em + 2em);
    height: calc(100vh - 35vh - 8em);
  );}

  #inventory::-webkit-scrollbar {-chrome-:only(;
    display: none;
  );}
}
