* {
	margin: 0;
	padding: 0;
}

#lobby {
	width: 100%;
	height: 100vh;
}

#main {
	width: 45vh;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(39, 39, 39, 0.75);
	padding: 1vh;
	padding-bottom: 1.5vh;
	border-radius: 5px;
	border: 1px solid #373737;
}

#display {
	color: #fff;
	text-align: center;
	font-size: 1.275em;
	font-weight: 100;
	margin-top: 0.425em;
	margin-bottom: 0.425em;
}

#main img {
	width: 100%;
}

#main input[type="text"] {
	width: 99%;
	height: 1.7em;
	font-size: 1.7em;
	border: 1px solid #545454;
	margin-bottom: 0.3em;
	border-radius: 0.1em;
	font-weight: 100;
	text-indent: 0.85em;
	opacity: 0.85;
}

#btn-connect, #btn-start-now {
	background-color: #e75a56;
	width: 100%;
	height: 1.87em;
	font-size: 1.7em;
	border: 1px solid #b73531;
	box-shadow: 0 3px 0 0 #bd4846;
	text-shadow: 0 1px 1px #000000;
	color: #ffffff;
	border-radius: 0.1em;
	font-weight: 100;
	-webkit-appearance: none;
	cursor: pointer;
 }
