#log-area {
  position: fixed;
  height: calc(100% - 3.85em);
  width: 21em;
  font-size: 0.85em;
  box-sizing: border-box;
  background-color: rgba(39,39,39, 0.95);
  padding: 1em;
  border-left: 1px solid #3C3C3C;
  right: 0em;
  overflow: scroll;
  color: #ffffff;
}

.log {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

#textfield {
  position: fixed;
  bottom: 0em;
  right: 0em;
  width: 21em;
  margin: 0;
  padding: 0;
  float: right;
}

#textfield input[type="text"] {
  width: 12em;
  padding: 0.5em;
  padding-left: 1em;
  font-size: 0.935em;
  height: 3em;
  background-color: #494949;
  color: #ffffff;
  /* float: right; */
  position: relative;
  right: -3.35em;
  border: 1px solid #565656;
}

#submit {
  background-color: #e75a56;
  border: 1px solid #b73531;
  box-shadow: 0 3px 0 0 #bd4846;
  text-shadow: 0 1px 1px #000000;
  color: #ffffff;
  width: 4.87em;
  font-size: 1.1em;
  height: 3.485em;
  float: right;
  margin: 0;
  cursor: pointer;
}

.player1 {
  color: #FB8CFF;
}

.player2 {
  color: #5AE7FF;
}

.player3 {
  color: #C4FF7F;
}

.player4 {
  color: #FF3C7C;
}

.server {
  color: #ffffff;
}

@media and (-webkit-min-device-pixel-ratio:0) {
  #log-area::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    #log-area::-webkit-scrollbar {
      display: none;
    }
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
  #log-area::-webkit-scrollbar {-chrome-:only(;
    display: none;
  );}
}
