* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/wood.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  overflow: scroll;
}
